body{
    /* display: flex; */
    text-align: center;
    justify-content: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#search {
    margin: 10px 5px 10px 5px;
    padding: 5px 5px;
    border: 1px solid black;
    width: 250px;
    text-align: left;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}